video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.col-md-12 {
  position: relative;
  text-align: center;
  margin-top: 250px; 
}
.col-md-12 h1 {
  color: aliceblue;
  font-size: 44px;
  font-family: sans-serif;
}
.col-md-12 p {
  color: azure;
  font-size: 20px;
  font-family: sans-serif;
}