body {
  background: url(../images/ghana.jpg);
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-weight: bold;
}
.form {
  margin: 150px auto;
  width: 500px;
  color: aliceblue;
  border: 1px solid blanchedalmond;
}
